<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yido.road.sos.repository.main.SiteInfoMapper">

    <select id="selectSiteList" parameterType="SiteInfo" resultType="SiteInfo">
        /* SiteInfoMapper.selectSiteList - 현장목록 조회 */

        SELECT s.*
        FROM site_info s
        WHERE s.del_yn = 'N'
          AND NOT EXISTS (
            SELECT 1
            FROM site_info c
            WHERE c.del_yn = 'N'
              AND c.parent_site_cd = s.site_cd
        )

        order by site_name
    </select>

    <select id="selectSiteList2" parameterType="SiteInfo" resultType="SiteInfo">
        /* SiteInfoMapper.selectSiteList - 현장목록 조회 */

        SELECT s.*
        FROM site_info s
        WHERE s.del_yn = 'N'
          and  parent_site_cd is null
        order by site_name
    </select>

	<select id="getSiteInfoBySiteCd" parameterType="String" resultType="SiteInfo">
        /* SiteInfoMapper.getSiteInfoBySiteCd - 현장코드로 현장정보 조회 */
        SELECT *
         FROM site_info
        WHERE site_cd = #{siteCd}
         AND del_yn = 'N'
        LIMIT 1
    </select>

    <select id="getManageSiteByUserId" parameterType="String" resultType="SiteInfo">
        /* SiteInfoMapper.getManageSiteByUserId - 관리대상 부모 현장목록 조회 */
        SELECT DISTINCT p.*
        FROM admin_user_site a
                 JOIN site_info s
                      ON a.site_cd = s.site_cd
                          AND s.del_yn = 'N'
                 JOIN site_info p
                      ON p.site_cd = IFNULL(s.parent_site_cd, s.site_cd)
                          AND p.del_yn = 'N'
        WHERE a.user_id = #{userId}
        ORDER BY p.site_name
    </select>
    <select id="selectSiteListByParent" parameterType="list" resultType="SiteInfo">
        /* SiteInfoMapper.selectSiteListByParent - 부모 현장코드 기준 자식 현장목록 조회 */
        SELECT s.*
        FROM site_info s
        WHERE s.del_yn = 'N'
        AND (
        s.site_cd IN
        <foreach collection="siteCdList" item="siteCd" open="(" separator="," close=")">
            #{siteCd}
        </foreach>
        OR s.parent_site_cd IN
        <foreach collection="siteCdList" item="siteCd" open="(" separator="," close=")">
            #{siteCd}
        </foreach>
        )
        ORDER BY s.site_name
    </select>
    <select id="selectAllSite" parameterType="String" resultType="string">
        /* SiteInfoMapper.selectAllSite - 전체 현장코드 조회 */

        select b.site_cd
        from admin_user_site a join site_info b on a.site_cd = b.site_cd and b.del_yn = 'N'
        where user_id =  #{adminId}
        order by site_name

    </select>

    <select id="selectNearbySections" parameterType="map" resultType="map">
        /* IncidentMapper.selectNearbySections - 사용자 위치 기반으로 근처 고속도로 추천 */
        <![CDATA[
        SELECT
            t.*
            , si.site_name AS site_name
            , si.call_center_no
            , LEAST(t.d_start_m, t.d_end_m) AS near_m
            , CASE
                WHEN t.d_start_m <= t.d_end_m THEN 'START'
                ELSE 'END'
                END AS near_point
        FROM (
                 SELECT
                     ss.section_id,
                     ss.site_cd,
                     ss.section_name,
                     ss.start_lat, ss.start_lng,
                     ss.end_lat, ss.end_lng,
                     (6371000 * 2 * ASIN(SQRT(
                             POW(SIN(RADIANS(ss.start_lat - #{lat}) / 2), 2) +
                             COS(RADIANS(#{lat})) * COS(RADIANS(ss.start_lat)) *
                             POW(SIN(RADIANS(ss.start_lng - #{lng}) / 2), 2)
                                         ))) AS d_start_m,
                     (6371000 * 2 * ASIN(SQRT(
                             POW(SIN(RADIANS(ss.end_lat - #{lat}) / 2), 2) +
                             COS(RADIANS(#{lat})) * COS(RADIANS(ss.end_lat)) *
                             POW(SIN(RADIANS(ss.end_lng - #{lng}) / 2), 2)
                                         ))) AS d_end_m
                 FROM site_section ss
                 WHERE ss.use_yn = 'Y'
                   AND ss.min_lat <= (#{lat} + (#{radiusM} / 111320))
                   AND ss.max_lat >= (#{lat} - (#{radiusM} / 111320))
                   AND ss.min_lng <= (#{lng} + (#{radiusM} / (111320 * COS(RADIANS(#{lat})))))
                   AND ss.max_lng >= (#{lng} - (#{radiusM} / (111320 * COS(RADIANS(#{lat})))))
             ) t
                 JOIN site_info si ON si.site_cd = t.site_cd and si.del_yn = 'N'
        ORDER BY near_m ASC
            LIMIT #{limit}
        ]]>
    </select>


    <select id="selectAllSections" parameterType="map" resultType="map">
        /* IncidentMapper.selectAllSections - 전체 고속도로 조회 */

        SELECT
            ss.*
            , si.site_name
            , si.call_center_no
        FROM site_section ss
                 JOIN site_info si ON si.site_cd = ss.site_cd and si.del_yn = 'N'
        WHERE ss.use_yn = 'Y'
        ORDER BY si.site_name, ss.section_name;
    </select>


    <select id="selectAllSiteCds" resultType="string">
        /* SiteInfoMapper.selectAllSiteCds - 전체 현장코드 조회 */
        SELECT site_cd
        FROM site_info
        WHERE del_yn = 'N'
        ORDER BY site_name
    </select>
</mapper>